.jeopardy-container {
    font-family: "Arial", sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
    padding: 32px 64px 32px 64px;
    height: 100vh;
  }
  
  .category-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .teams-container {
    display: flex;
    justify-content: center;
  }
  
  .question-card {
    width: 100px;
    height: 100px;
    background-image: url("https://www.shutterstock.com/image-vector/question-mark-icon-vector-illustration-600nw-545832988.jpg");
    background-size: cover;
  }
  
  .answered {
    background-image: url("https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_640.png");
  }