.browse-posts-container {
  width: 85%;
  min-height: 100vh;
  margin: 0 auto; /* This centers the div horizontally */
  padding: 32px;
}

.browse-posts-title {
  color: #ffffff; /* Set text color to contrast with the background */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3); /* A dark gray color for good contrast */
}

.blogpost-item-container {
  margin-bottom: 64px;
}

.post-link {
  font-size: xx-large;
}

.post-preview-description {
  font-size: 16px; /* Adjust based on your preference */
  color: #ffffff; /* Set text color to contrast with the background */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3); /* A dark gray color for good contrast */
  max-width: 75%;
  margin-top: 0.5rem;
}

.post-preview-row-description {
  font-size: 16px; /* Adjust based on your preference */
  color: #ffffff; /* Set text color to contrast with the background */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3); /* A dark gray color for good contrast */
}

.post-preview-timestamp {
  font-size: 12px; /* Adjust based on your preference */
  color: #ffffff; /* Set text color to contrast with the background */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3); /* A dark gray color for good contrast */
}

.preview-image {
  width: 80%; /* Set the width to 100% to make it wider */
  max-height: 250px;
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  opacity: 0.8;
}

.blogpost-item-row-container {
  text-align: center;
}

@media screen and (max-widht: 576px) {
  .post-preview-description {
    margin-top: 1rem;
  }
}