.browse-posts-container {
  width: 85%;
  min-height: 100vh;
  margin: 0 auto; /* This centers the div horizontally */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 32px;
}

.blogpost-item-container {
  margin-bottom: 64px;
}

.blogpost-item-container {
  background-color: rgba(150, 150, 150, 0.1);
}

.post-link {
  font-size: xx-large;
}

.post-preview-description {
  font-size: 16px; /* Adjust based on your preference */
  color: #333; /* A dark gray color for good contrast */
  max-width: 75%;
}

.post-preview-row-description {
    font-size: 16px; /* Adjust based on your preference */
    color: #333; /* A dark gray color for good contrast */
  }

.post-preview-timestamp {
  font-size: 12px; /* Adjust based on your preference */
  color: #333; /* A dark gray color for good contrast */
}

.preview-image {
  width: 80%; /* Set the width to 100% to make it wider */
  max-height: 150px;
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  opacity: 0.8;
}

.blogpost-item-row-container {
  text-align: center;
}
