.my-interests-container {
  min-height: 100vh;
  background-size: 50% 100%;
  background-image: url("../images/turntable.jpg"), url("../images/cinema.jpg");
  background-position: left, right;
  background-repeat: no-repeat;
}

.my-interests-content {
  padding: 16px; /* Adjust padding as needed */
}

.my-interests-title {
  font-size: 5rem;
  font-weight: 500;
  font-family: "Arial", sans-serif; /* Specify a fallback font */
  color: #ffffff; /* Set text color to contrast with the background */
  text-shadow: 10px 10px 20px rgba(255, 255, 255, 0.3);
  text-align: center;
  margin-top: 25vh;
  padding-bottom: 20vh;
}

.turntable-side,
.cinema-side {
  width: 50vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fade-in-additional-buttons {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-additional-buttons.show {
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .my-posts-button {
    width: 300px;
    height: 80px;
  }
}

@media screen and (max-width: 576px) {
  .my-interests-container {
    background-image: url("../images/turntable.jpg");
    background-size: 100% 100%;
  }
}
